@import 'variables';
@import 'iconfont';
@import 'syntax';

main { overflow-x: hidden; }

footer .social a {
  color: #fff;
  background-color: transparent;
}

ul.unstyled, .list-unstyled {
  padding-left: 0;
  list-style: none;
}

.pull-right { float: right; }

// blog list
[data-pathname=blog] {
  ul.blog {
    //text-align: center;
    margin-top: 0;
    li {
      display: block;
      margin-bottom: 1rem;
    }
    @colorLink: #5AABE1;
    @colorLinkBg: lighten(#5AABE1,30%);
    a {
      color:  darken(#5AABE1,20%);
      //color: white;
      //font-weight: 600;;
      background-color: @colorLinkBg;
      text-decoration: none;
      box-shadow: -1rem 0 0 @colorLinkBg, 0.5rem 0 0 @colorLinkBg;
    }
  }
}

[data-pathname=contact] {
  main {
    padding-top: 15vh;
    text-align: center;
  }
  aside {
    display: none;
  }
}

[data-pathname^=project] {
  main { padding: 0; }
}
ul.projects {
  margin: 0;
  background-color: #333;
  &:after{
    content: '';
    display: table;
    clear: both;
  }
  li {
    position: relative;
    float: left;
    width: 100vw/2;
    height: 100vw/8*3;
    overflow: hidden;
    background-size: 10000% 100%;
    background-size: cover;
    background-position: center;
    &:nth-child(even){
      //background-size: 100% 10000%;
    }
  }
  a {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color: white;
    background: black;
    text-decoration: none;
  }
}
ul.project-category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  text-align: center;
  background-color: #f04;
  color: white;
  font-size: 0.75rem;
  line-height: 0.75rem;
  li { 
    display: block;
  }
  a {
    display: block;
    margin: 0 1px 1px 0;
    padding: 3px 6px;
    box-shadow: 0 0 0 1px white;
    text-decoration: none;
    color: white;
    &.curent{
      background-color: black;
    }
  }
}

.experiment-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

time {
  font-size: 0.75rem;
  font-weight: 600;
}

img, svg {
  max-width: 100%;
}

[class^='skill-'] {
  vertical-align: top;
  position: relative;
  padding-left: 6*8px;
  &:after,&:before {
    //.lt(0,10px);
    position: absolute;
    left: 0;
    top: 0.5rem;
    .rv-icon;
    font-size: 8px;
    display: inline-block;
    color: @colorRed;
  }
  &:before {
    content: @rv-star@rv-star@rv-star@rv-star@rv-star;
    color: @colorGray;
  }
  &.skill-5:after { content: @rv-star@rv-star@rv-star@rv-star@rv-star; }
  &.skill-4:after { content: @rv-star@rv-star@rv-star@rv-star; }
  &.skill-3:after { content: @rv-star@rv-star@rv-star; }
  &.skill-2:after { content: @rv-star@rv-star; }
  &.skill-1:after { content: @rv-star; }
}

