@import 'variables';
@import 'iconfont';
@import 'syntax';

footer .social a {
  color: #fff;
  background-color: transparent;
}

ul.unstyled {
  padding-left: 0;
  list-style: none;
}

// blog list
ul.blog {
  //text-align: center;
  li {
    display: block;
    margin-bottom: 1rem;
  }
  a { text-decoration: none; }
}

.experiment-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

time {
  font-size: 0.75rem;
  font-weight: 600;
}

img, svg {
  max-width: 100%;
}
