@import 'iconfont';

footer .social a {
  color: #fff;
  background-color: transparent;
}

ul.unstyled {
  padding-left: 0;
  list-style: none;
}

// blog list
ul.blog {
  //text-align: center;
  li {
    margin-bottom: 1rem;
  }
}

time.blog {
  //position: relative;
  //top: 0.5rem;
  //right: 0.5rem;
  transform: rotate(90deg);
}
